<launch>
<master auto="start" />
<node pkg="rapiro_teleop" name="startup" type="startup.sh" />
<node pkg="rapiro_teleop" name="send_commands" type="send_commands.py" />
<node pkg="roswww" type="webserver.py" name="roswww" output="screen"/>
<include file="$(find rosbridge_server)/rosbridge_websocket.launch" />
</launch>